/* You can add global styles to this file, and also import other style files */

.form-card {
  max-width: 350px;
}
.card .card-content .card-title {
  margin-bottom: 25px;
}

form {
  .error {
    margin-top: 15px;
  }
  .success {
    margin-top: 15px;
  }
}